@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkcyan;
  border-radius: 10px;
}

.logo {
  font-family: fantasy;
  font-style: italic;
  padding-right: 10px;
  background: linear-gradient(cyan, darkcyan);
  background-clip: text;
  color: transparent;
  animation: move-shadow 2s infinite linear;
}

.btn {
  position: relative;
  background-color: darkcyan;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 7px 7px 0px 0px black;
  transition: all ease 0.5s;
}

.btn:hover {
  box-shadow: 0px 0px 0px 0px black;
}

.text-color {
  transition: all ease 2s;
  animation: text-color 1s linear infinite;
}

.fade {
  animation: fade 2s forwards;
}

.scale {
  animation: scale 2s ease forwards;
}

.scroll-fade {
  animation: scroll-fade linear;
  animation-timeline: view();
  transition: all ease 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-color {
  0%,
  100% {
    color: aqua;
  }
  50% {
    color: aquamarine;
  }
  70% {
    color: darkcyan;
  }
}

@keyframes scale {
  0% {
    width: 100%;
  }
  100% {
    width: 70%;
  }
}

@keyframes scroll-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
